@{
    ViewData["Title"] = "Messages";
}

<h1>All Board Messages:</h1>
<h3>Actions:</h3>

<p>@Html.ActionLink("Add a new message to the topic", "Create")</p>

<h3>Messages<h3>
<ol>
@foreach (Message message in Model)
{
  <li>
  <br/>
   @message.Text | <a href="/Messages/Details/@(message.MessageId)">View Details</a></li>
}
</ol>